<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePen - Gorgeous animated gradient borders using only CSS</title>
<!--    <link rel=style.css"stylesheet" type="text/css" href="css/style_Grad.css">-->
    <link rel="stylesheet" href="../../static/artik/css/style_Grad.css">
    <link rel="stylesheet" href="../../static/artik/css/nav.css">

</head>
<body>
<!-- partial:index.partial.html -->
    <main>

        <article>


            <nav>
                <ul style="inset-inline: auto">
                    <li><a href="index.html">Accueil</a></li>

                    <li class="deroulant"><a href="#">Articles&ensp;</a>
                        <ul class="sous">
                            <li><a href="a_graz_pol.html">Une histoire merveilleuse</a></li>
                            <li><a href="precarité_aines.html">La précarité des ainés</a></li>
                            <li><a href="aines_oublies.html">Nos ainés, Nos oubliés</a></li>
                        </ul>
                    </li>

                    <li><a href="a_propos.html">À Propos</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>


            <pre style="max-width: 550px;
            margin: 25px auto;
            color: #eee18e;
            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */">
             <b style="font-size: larger">Nos aînés, Nos oubliés</b>

Au crépuscule de leurs jours, nos anciens oubliés,
Dans les mouroirs, silencieux et désertés,
Les souvenirs s'étiolent, les regards s'assombrissent,
Abandonnés, seuls, mais leurs âmes résistent.

Ils ont traversé le temps, bâtisseurs du passé,
Leurs histoires, leurs rêves, tout s'en est allé,
Mais leurs cœurs, fidèles, battent encore en silence,
Emplis de sagesse, d'amour, de patience.

Ils furent les témoins d'un monde qui change,
Leur vie défile, étrange et étrange,
Leurs valeurs, leurs leçons, sont aujourd'hui ignorées,
Pourtant, dans leurs yeux, l'humanité est gravée.

Leurs mains ridées, tremblantes, ont tant donné,
Leur amour inconditionnel, ils l'ont partagé,
Ils méritent le respect, la tendresse, la douceur,
Dans leur solitude, offrons-leur notre chaleur.

Que nos anciens trouvent apaisement et lumière,
Dans nos cœurs reconnaissants, dans cette prière,
Pour que leur crépuscule soit doux et serein,
À nos aînés, à nos anciens, rendons hommage enfin.

N'oublions jamais l'héritage qu'ils nous laissent,
Leurs vies tissées de rêves, d'efforts, de succès,
Dans leurs pas, nous avons bâti notre chemin,
Leur expérience précieuse, leur savoir, leur destin.

Nous leur devons notre existence, notre avenir,
À travers les décennies, ils ont su se construire,
Ont-ils mérité l'oubli, notre ingratitude,
Leur amour et leur sacrifice sont notre certitude ?

Respectons nos aînés, honorons leur histoire,
Dans leurs récits, trouvons la sagesse et la mémoire,
Ils ont façonné le monde que nous connaissons,
Ne laissons jamais s'éteindre leur précieux rayon.

            </pre>

        </article>
    </main>
<!-- partial -->
    <script  src="js/script.js"></script>

</body>
</html>

