$main-color: #ffffff;
$dwn-menu-color: rgba(8, 55, 245, 0.99);

//=====  Navbar  =====
$active-bg-color: darken($main-color, 20%);
$bg-dropdown-menu: darken($main-color, 15%);
$dropdown-menu-color: darken($dwn-menu-color, 10%);
$search-button: darken($main-color, 30%);

.navbar {
  border-bottom: 1px solid darken($active-bg-color, 20%);
  background-color: rgba(44, 100, 77, 0.99); // Background color #343a40
  color: #ffffff; // Text color
  font-size: 17px; // Text size
  font-weight: bold; // Text weight
  padding: 0 20px 0 20px;

}

.nav-link {
  color: #ffffff; // Text color for links
  transition: color 0.3s ease; // Transition effect for link color

  &:hover {
    background-color: $active-bg-color;
    color: #ff5733; // Text color for links on hover
  }
}

.navbar-dark .navbar-nav .active > .nav-link {
  background-color: $active-bg-color;
}

.nav-item {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}


.btn.btn-default.dropdown-toggle {
  // Your styles here
  color: #f5faf7; // Text color
  font-size: 17px; // Text size
  font-weight: bold; // Text weight

}


/* Add custom styles to open dropdown on hover */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: $bg-dropdown-menu;

  .dropdown-item {
    color: $dropdown-menu-color; //replace #color-code with your desired color
    font-size: 17px; // Text size
    font-weight: bold; // Text weight

  }
}

/* Change la couleur de survol du bouton Search dans le fichier scss */
/* Changes the hover colour of the Search button in the scss file */
.btn.btn-primary:hover {
  background-color: $search-button;
}

/* Form to search */
.d-flex {
  height: 35px;
  align-items: center;
  //background-color: darkorange;
  border: 5px solid #2e654e;
  border-radius: 10px;
}

/* Form to search */
.hauteur {
  height: 30px;
  padding: 0 10px 0 10px;
}